[Unit]
Description="A service to run the DEXI ros launch file at boot"

[Service]
Type=simple
User=root
ExecStart=/home/dexi/dexi_ws/src/dexi_bringup/scripts/start.bash
StandardOutput=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target