[Unit]
Description=DEXI ROS2 Bringup Service

[Service]
Type=simple
User=root
Environment="HOME=/home/dexi"
WorkingDirectory=/home/dexi
ExecStart=/home/dexi/dexi_ws/src/dexi_bringup/scripts/start.bash
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target